---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  sickchill:
    image: sickchill/sickchill:latest
    restart: unless-stopped
    networks:
      - traefik_network
    ports:
      - 8081:8081
    volumes:
      - "{{ volumes_root }}/sickchill/data:/data"
      - "{{ storage_dir }}/Downloads:/downloads"
      - "{{ storage_dir }}/Video/TV:/tv"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.sickchill.loadbalancer.server.scheme=http"
      - "traefik.http.services.sickchill.loadbalancer.server.port=80"
      - "traefik.http.routers.sickchill-http.rule=Host(`{% if sickchill.domain %}{{ sickchill.domain }}{% else %}{{ sickchill.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.sickchill-http.entrypoints=http"
{% if not sickchill.https_only %}
      - "traefik.http.routers.sickchill-http.middlewares={% if sickchill.https_only %}redirect@file, {% else %}{% if sickchill.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.sickchill-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.sickchill.rule=Host(`{% if sickchill.domain %}{{ sickchill.domain }}{% else %}{{ sickchill.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.sickchill.entrypoints=https"
      - "traefik.http.routers.sickchill.middlewares={% if sickchill.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.sickchill.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.sickchill.tls.certresolver=dns"
      - "traefik.http.routers.sickchill.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.sickchill.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.sickchill.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.sickchill-tor-http.rule=Host(`{{ sickchill.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.sickchill-tor-http.entrypoints=http"
      - "traefik.http.routers.sickchill-tor-http.middlewares={% if sickchill.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
