---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Document Storage
  paperless:
    image: danielquinn/paperless
    restart: unless-stopped
    networks:
      - traefik_network
    ports:
      - "8325:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - "{{ volumes_root }}/paperless/data:/usr/src/paperless/data"
      - "{{ volumes_root }}/paperless/media:/usr/src/paperless/media"
      - "{{ storage_dir }}/Documents/consume:/consume"
      - "{{ storage_dir }}/Documents/export:/export"
    environment:
      - PAPERLESS_OCR_LANGUAGES=
      - PAPERLESS_PASSPHRASE="{{lookup('password', './settings/passwords/paperless_passphrase chars=digits')}}"
    command: ["runserver", "--insecure", "--noreload", "0.0.0.0:8000"]
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.paperless.loadbalancer.server.scheme=http"
      - "traefik.http.services.paperless.loadbalancer.server.port=8000"
      - "traefik.http.routers.paperless-http.rule=Host(`{% if paperless.domain %}{{ paperless.domain }}{% else %}{{ paperless.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.paperless-http.entrypoints=http"
{% if not paperless.https_only %}
      - "traefik.http.routers.paperless-http.middlewares={% if paperless.https_only %}redirect@file, {% else %}{% if paperless.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.paperless-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.paperless.rule=Host(`{% if paperless.domain %}{{ paperless.domain }}{% else %}{{ paperless.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.paperless.entrypoints=https"
      - "traefik.http.routers.paperless.middlewares={% if paperless.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.paperless.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.paperless.tls.certresolver=dns"
      - "traefik.http.routers.paperless.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.paperless.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.paperless.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.paperless-tor-http.rule=Host(`{{ paperless.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.paperless-tor-http.entrypoints=http"
      - "traefik.http.routers.paperless-tor-http.middlewares={% if paperless.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

  paperless_consumer:
    image: danielquinn/paperless
    restart: unless-stopped
    networks:
      - traefik_network
    depends_on:
      - paperless
    volumes:
      - "{{ volumes_root }}/paperless/data:/usr/src/paperless/data"
      - "{{ volumes_root }}/paperless/media:/usr/src/paperless/media"
      - "{{ storage_dir }}/Documents/consume:/consume"
      - "{{ storage_dir }}/Documents/export:/export"
    environment:
      - PAPERLESS_PASSPHRASE=homelabos
    command: ["document_consumer"]
