---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Wallabag - self-hostable app for saving webpages
  wallabag:
    image: wallabag/wallabag
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD={{lookup('password', './settings/passwords/wallabag_db_root_password chars=digits')}}
      - SYMFONY__ENV__DATABASE_DRIVER=pdo_mysql
      - SYMFONY__ENV__DATABASE_HOST=wallabag_db
      - SYMFONY__ENV__DATABASE_PORT=3306
      - SYMFONY__ENV__DATABASE_NAME=wallabag
      - SYMFONY__ENV__DATABASE_USER=wallabag
      - SYMFONY__ENV__DATABASE_PASSWORD={{lookup('password', './settings/passwords/wallabag_db_password chars=digits')}}
      - MYSQL_DATABASE=wallabag
      - SYMFONY__ENV__DATABASE_CHARSET=utf8
      - SYMFONY__ENV__MAILER_HOST=127.0.0.1
      - SYMFONY__ENV__MAILER_USER=~
      - SYMFONY__ENV__MAILER_PASSWORD=~
      - SYMFONY__ENV__FROM_EMAIL=wallabag@example.com
      - SYMFONY__ENV__DOMAIN_NAME=https://{% if wallabag.domain %}{{ wallabag.domain }}{% else %}{{ wallabag.subdomain + "." + domain }}{% endif %}

    volumes:
      - "{{ volumes_root }}/wallabag/data:/var/www/wallabag/data"
      - "{{ volumes_root }}/wallabag/images:/var/www/wallabag/web/assets/images"
    depends_on:
      - wallabag_db
      - redis
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.wallabag.loadbalancer.server.scheme=http"
      - "traefik.http.services.wallabag.loadbalancer.server.port=80"
      - "traefik.http.routers.wallabag-http.rule=Host(`{% if wallabag.domain %}{{ wallabag.domain }}{% else %}{{ wallabag.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.wallabag-http.entrypoints=http"
{% if not wallabag.https_only %}
      - "traefik.http.routers.wallabag-http.middlewares={% if wallabag.https_only %}redirect@file, {% else %}{% if wallabag.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.wallabag-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.wallabag.rule=Host(`{% if wallabag.domain %}{{ wallabag.domain }}{% else %}{{ wallabag.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.wallabag.entrypoints=https"
      - "traefik.http.routers.wallabag.middlewares={% if wallabag.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.wallabag.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.wallabag.tls.certresolver=dns"
      - "traefik.http.routers.wallabag.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.wallabag.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.wallabag.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.wallabag-tor-http.rule=Host(`{{ wallabag.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.wallabag-tor-http.entrypoints=http"
      - "traefik.http.routers.wallabag-tor-http.middlewares={% if wallabag.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

  wallabag_db:
    image: mariadb:10.4
    networks:
      - traefik_network
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/wallabag_db:/var/lib/mysql"
    environment:
      - MYSQL_ROOT_PASSWORD={{lookup('password', './settings/passwords/wallabag_db_root_password chars=digits')}}
      - MYSQL_PASSWORD={{lookup('password', './settings/passwords/wallabag_db_password chars=digits')}}

  redis:
    image: redis:alpine
