---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  searx:
    image: wonderfall/searx
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
    - "{{ volumes_root }}/searx/settings.yml:/usr/local/searx/searx/settings.yml"
    environment:
      - BASE_URL: http://{% if searx.domain %}{{ searx.domain }}{% else %}{{ searx.subdomain + "." + domain }}{% endif %}"
   labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.searx.loadbalancer.server.scheme=http"
      - "traefik.http.services.searx.loadbalancer.server.port=8888"
      - "traefik.http.routers.searx-http.rule=Host(`{% if searx.domain %}{{ searx.domain }}{% else %}{{ searx.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.searx-http.entrypoints=http"
{% if not searx.https_only %}
      - "traefik.http.routers.searx-http.middlewares={% if searx.https_only %}redirect@file, {% else %}{% if searx.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.searx-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.searx.rule=Host(`{% if searx.domain %}{{ searx.domain }}{% else %}{{ searx.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.searx.entrypoints=https"
      - "traefik.http.routers.searx.middlewares={% if searx.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.searx.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.searx.tls.certresolver=dns"
      - "traefik.http.routers.searx.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.searx.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.searx.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.searx-tor-http.rule=Host(`{{ searx.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.searx-tor-http.entrypoints=http"
      - "traefik.http.routers.searx-tor-http.middlewares={% if searx.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
